<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                $('#log').append('<br>Client Connected!');
            });

            socket.on('my response', function(msg) {
                $('#log').append('<br>Received #' + msg.data);
            });

            socket.on('log', function(msg) {
                $('#log').append('<br>Received #' + msg.data);
            });

            socket.on('capturewb', function(msg) {
                $('#wbsample').append(msg.wb + '<br/><img src="' + msg.url + '" width="300px"/><br/>');
            });
            
            //$('form#emit').submit(function(event) {
            //    socket.emit('my event', {data: $('#emit_data').val()});
            //    return false;
            //});

            $('form#capture').submit(function(event) {
                socket.emit('capturewb');
                return false;
            });
        });
    </script>
</head>
<body>
    <h2>White Balance:</h2>
    <form id="capture" method="POST" action="#">
        <input type="submit" value="Capture">
    </form>
    <div id="wbsample"></div>
    
    <h2>Receive:</h2>
    <div id="log"></div>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
</body>
</html>
