<!DOCTYPE HTML>
<html>
<head>
    <title>SphereCam Shot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace
            /*
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                $('#log').append('<br>Client Connected!');
            });

            socket.on('my response', function(msg) {
                $('#log').append('<br>Received #' + msg.data);
            });

            socket.on('capturewb', function(msg) {
                $('#wbsample').append(msg.wb + '<br/><img src="' + msg.url + '" width="300px"/><br/>');
            });
            
            //$('form#emit').submit(function(event) {
            //    socket.emit('my event', {data: $('#emit_data').val()});
            //    return false;
            //});

            $('form#capture').submit(function(event) {
                socket.emit('capturewb');
                return false;
            });*/
        });
    </script>
</head>
<body>
    <!--<form id="capture" method="POST" action="#">-->
        <!--<input type="submit" value="Capture">-->
    <!--</form>-->
    <div id="content">
        <a href="#" class="ui-btn ui-corner-all">Capture</a>
        <div style="width: 1000px; margin: 0 auto;">
<h2>Size:</h2>
<form id="size">
<fieldset data-role="controlgroup" data-type="horizontal">
{% for item in sizeOptions %}<input type="radio" name="{{item.group}}" id="{{item.id}}" {% if item.pick %} value="on" checked="checked" {% else %} value="off" {% endif %}><label for="{{item.id}}">{{item.name}}</label>
{% endfor %}
</fieldset>
</form>

<h2>Time (seconds):</h2>
<form id="time">
<fieldset data-role="controlgroup" data-type="horizontal">
{% for item in timeOptions %}<input type="radio" name="{{item.group}}" id="{{item.id}}" {% if item.pick %} value="on" checked="checked" {% else %} value="off" {% endif %}><label for="{{item.id}}">{{item.name}}</label>
{% endfor %}
</fieldset>
</form>

<h2>ISO (x100):</h2>
<form id="iso">
<fieldset data-role="controlgroup" data-type="horizontal">
{% for item in isoOptions %}<input type="radio" name="{{item.group}}" id="{{item.id}}" {% if item.pick %} value="on" checked="checked" {% else %} value="off" {% endif %}><label for="{{item.id}}">{{item.name}}</label>
{% endfor %}
</fieldset>
</form>

<h2>Exposure Time:</h2>
<form><input type="range" name="slider-1" id="slider-1" min="0" max="100" value="50" >
</form>
        </div>
    </div>
</body>
</html>
