<!DOCTYPE HTML>
<html>
<head>
    <title>SphereCam Shot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{url_for('static', filename='jquery.mobile-1.4.5.min.css')}}"/>
    <script src="{{url_for('static', filename='jquery-1.11.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery.mobile-1.4.5.min.js')}}"></script>
    <script src="{{url_for('static', filename='socket.io-1.3.5.js')}}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace
            /*
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                $('#log').append('<br>Client Connected!');
            });

            socket.on('my response', function(msg) {
                $('#log').append('<br>Received #' + msg.data);
            });

            socket.on('capturewb', function(msg) {
                $('#wbsample').append(msg.wb + '<br/><img src="' + msg.url + '" width="300px"/><br/>');
            });
            
            //$('form#emit').submit(function(event) {
            //    socket.emit('my event', {data: $('#emit_data').val()});
            //    return false;
            //});

            $('form#capture').submit(function(event) {
                socket.emit('capturewb');
                return false;
            });*/
        });
    </script>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
</head>
<body>
    <!--<form id="capture" method="POST" action="#">-->
        <!--<input type="submit" value="Capture">-->
    <!--</form>-->
    <div id="content">
        <a href="#" class="ui-btn ui-corner-all">Capture</a>
        <div style="width: 1000px; margin: 0 auto;">
<label>Size:</label>
<form id="size">
<fieldset data-role="controlgroup" data-type="horizontal">
{% for item in sizeOptions %}<input type="radio" name="{{item.group}}" id="{{item.id}}" {% if item.pick %} value="on" checked="checked" {% else %} value="off" {% endif %}><label for="{{item.id}}">{{item.name}}</label>
{% endfor %}
</fieldset>
</form>

<label>Time (seconds):</label>
<form id="time">
<fieldset data-role="controlgroup" data-type="horizontal">
{% for item in timeOptions %}<input type="radio" name="{{item.group}}" id="{{item.id}}" {% if item.pick %} value="on" checked="checked" {% else %} value="off" {% endif %}><label for="{{item.id}}">{{item.name}}</label>
{% endfor %}
</fieldset>
</form>

<label>ISO (x100):</label>
<form id="iso">
<fieldset data-role="controlgroup" data-type="horizontal">
{% for item in isoOptions %}<input type="radio" name="{{item.group}}" id="{{item.id}}" {% if item.pick %} value="on" checked="checked" {% else %} value="off" {% endif %}><label for="{{item.id}}">{{item.name}}</label>
{% endfor %}
</fieldset>
</form>

<label>Exposure Time:</label>
<form><input type="range" name="slider-1" id="slider-1" min="0" max="100" value="50" >
</form>
<form><div class="ui-field-contain">
        <label for="flip-6">Flip Image:</label>
        <select name="flip-6" id="flip-6" data-role="slider">
            <option value="off">Off</option>
            <option value="on">On</option>
        </select>
    </div>
</form>
        </div>
    </div>
</body>
</html>
